<html>
<head>
    <title>Steam Roulette</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body style="text-align: center">
<div style="margin: 0 auto; display: inline-block;">
    {{ content | raw }}
</div>
</body>
</html>


