<html>
<head>
    <title>Random Game Picker</title>
</head>
<body>
<div style="margin: 0 auto;">
    <h2>{{ game.name }}</h2>
    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_logo_url }}.jpg" />
</div>
</body>
</html>
