{%  if game %}
    <h2>{{ game.name }}</h2>
    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_logo_url }}.jpg" />

{% else %}

    <form method="get" action="/" id="urls">
        <div id="inputs">
        <input type="text" name="url[]" />
        </div>
        <input type="submit" />
    </form>

    <script>
        function setupFields() {
            var input = $('#urls :text:last');

            $(input).change(function(event) {
                if (this.value) {
                    $('#inputs').append('<input type="text" name="url[]" />');
                    $(this).off();

                    setupFields();
                }
            })

        }

        $(document).ready(setupFields());

        $(document).ready(function() {
            $('#urls').submit(function() {
                $(this).find('input:text').filter(function() { return this.value == ""; }).remove();

            })
        })
    </script>

{% endif %}
