{%  if game %}
    <h1>{{ game.name }}</h1>
    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_logo_url }}.jpg" width="368" height="138" />

{% else %}

    <h1>Steam Roulette (Family Sharing Edition)</h1>
    <form method="get" action="/" id="urls">
        <div id="inputs">
        <input type="text" name="url[]" placeholder="Enter Steam URL"/>
        </div>
        <input type="submit" />
    </form>
{% endif %}
<div id="games"></div>
<script src="/js/roulette.js"></script>
